.instanceContainerWrapper {
  position: relative;
}

.instanceContainer {
  position: absolute;
  left: 26px;
  top: 6px;
}

.instancePolygonInRange {
  opacity: 0.5;
  /*stroke: none;*/
  fill: white;
  cursor: url('../images/ui/cursors/cursor_move_positive.png'), auto;
}

.instancePolygon {
  opacity: 0.5;
  /*stroke: none;*/
  fill: darkgray;
  cursor: url('../images/ui/cursors/cursor_move_negative.png'), auto;
}

.instancePolygonInRange:hover {
  fill: lime;
}

.instancePolygonActive {
  opacity: 0.5;
  /*stroke: none;*/
  fill: yellow;
}

.instancePolygonEnemy {
  opacity: 0.5;
  /*stroke: none;*/
  fill: darkred;
  cursor: url('../images/ui/cursors/cursor_move_negative.png'), auto;
}

.instancePolygonEnemyActive {
  opacity: 0.6;
  /*stroke: none;*/
  fill: red;
  cursor: url('../images/ui/cursors/cursor_move_negative.png'), auto;
}

.instanceText {
  text-align: center;
  text-anchor: middle;
  font-size: 12px;
}

.instanceElement {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  z-index: 2;
}

.instanceSvg {
  position: absolute;
  z-index: 1;
}

.instancePortraitHealthBar {
  width: 60px;
  height: 4px;
  border: 1px solid black;
  background-color: red;
  position: absolute;
  top: -2px;
  left: 1px;
}

.instancePortraitHealthBarInner {
  background-color: green;
  width: 60px;
  height: 4px;
}

.instancePortrait {
  width: 60px;
  border: 1px solid black;
  position: relative;
  top: 5px;
  left: 1px;
}

.instancePortraitFlipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

:root {
  --cursor-melee: url('../images/ui/cursors/cursor_attack.png'), auto;
  --cursor-bow: url('../images/ui/cursors/cursor_attack_range.png'), auto;
  --cursor-current: var(--cursor-melee);

  --equipment-background-male: url('../images/character_male.png');
  --equipment-background-female: url('../images/character_female.png');
  --equipment-background-current: var(--equipment-background-male);
}

.equipmentBackground {
  background-image: var(--equipment-background-current);
}

.instanceEnemyCursor {
  cursor: var(--cursor-current);
}

.instanceEnemy {
  border: 1px solid crimson;
}

.attackSwing {
  position: absolute;
  top: -15px;
  left: -65px;
  background: url('../images/animations/animation_swing.png') 0 0 no-repeat;
  animation: walk-cycle 0.5s steps(5) infinite;
  -webkit-animation: walk-cycle 0.5s steps(5) infinite;

  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  opacity: 0.8;
  z-index: 10000;

  width: 192px;
  height: 80px;
}

.attackArrow {
  position: absolute;
  top: -15px;
  left: -65px;
  background: url('../images/animations/animation_arrow.png') 0 0 no-repeat;
  animation: walk-cycle 0.25s steps(5, end) forwards;
  -webkit-animation: walk-cycle 0.25s steps(5, end) forwards;

  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  opacity: 0.8;
  z-index: 10000;

  width: 192px;
  height: 80px;
}

@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -960px 0;
  }
}

@-webkit-keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -960px 0;
  }
}

.damageIndicator {
  color: #ce1e15;
  text-shadow: 2px 2px 2px rgb(5, 5, 5);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  position: absolute;
  top: 10px;
  left: 20px;
  height: 30px;
  z-index: 20000;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.damageIndicatorCritical {
  color: #ffdc22;
  font-size: 25px;
}

.damageIndicatorDevastate {
  color: #53d2d9;
  font-size: 30px;
}

.damageIndicatorHealing {
  color: #2ec913;
}

.locationText {
  text-align: center;
  text-anchor: middle;
  font-size: 2px;
}
